:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --accent-rgb: 52, 211, 153;
    --darker-accent-rgb: 0, 204, 150;
    --on-accent-rgb: 0, 0, 0;

    --foreground-rgb: 16, 24, 39;
    --secondary-foreground-rgb: 107, 114, 128;

    --background-rgb: 243, 244, 246;
    --secondary-background-rgb: 249, 250, 251;
    --tertiary-background-rgb: 209, 213, 219;
    --hover-background-rgb: 243, 244, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-rgb: 3, 255, 189;
    --darker-accent-rgb: 0, 204, 150;
    --on-accent-rgb: 0, 0, 0;

    --foreground-rgb: 255, 255, 255;
    --secondary-foreground-rgb: 143, 143, 143;

    --background-rgb: 18, 18, 18;
    --secondary-background-rgb: 27, 27, 27;
    --tertiary-background-rgb: 42, 42, 42;
    --hover-background-rgb: 42, 42, 42;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color : white;
  /*color: rgb(var(--foreground-rgb));*/
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button.wallet-adapter-button-trigger {
  cursor: pointer;
  padding: 20px 24px 18px 24px;
  /*font-size: 100%;*/
  font-weight: 900;
  color: rgb(var(--foreground-rgb)) !important;
  border: 1px solid rgb(var(--tertiary-background-rgb)) !important;
  border-radius: var(--border-radius) !important;
  /*background-color: rgb(var(--secondary-background-rgb)) !important;*/
  background-color: red;
  transition: background-image 0.5s ease;
  background-image: url('https://olive-broad-giraffe-200.mypinata.cloud/ipfs/QmaETkVfYdYo8v1djEstHtA1GNzjsWZhYha5okYRMA8yxv');
  }

button.wallet-adapter-button-trigger:hover {
  transition: background-image 0.5s ease;
  background-image: linear-gradient(rgba(99, 64, 0, 0.5), rgba(255, 255, 0, 0.5)), url('https://olive-broad-giraffe-200.mypinata.cloud/ipfs/QmaETkVfYdYo8v1djEstHtA1GNzjsWZhYha5okYRMA8yxv');
}

button.wallet-adapter-button:hover {
  /*background-color: red;*/
  /*background-color: rgb(var(--hover-background-rgb)) !important;*/
  /*background-image: none;*/
  /*opacity : 0.8;*/
}


nft-display{
  margin: 50px 0px 0px 0px;
  margin-top: 50px;
}

h2{
  margin-bottom: '1em';
  color: 'pink';
  font-weight: 'bold';
  text-transform: uppercase;
  font-size: 150%
}


.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 50px 24px 0px 24px;
  border-radius: 4px;
}